# Data Types

Integers, String, Float, Boolean

## Integars

Integers are numbers

In [1]:
one = 1

In [2]:
two = 2

In [3]:
three = 3

In [4]:
six = (one + two + three)
print(six)

6

In [5]:
seven = 3+1+3
print(seven)

7

### examples

### Covert Base of Number in Integar

##### Base 2 - Binary
0b (zero + lowercase letter 'b')
0B (zero + uppercase letter 'B')

##### Base 8 - Octal
0o (zero + lowercase letter 'o')
0O (zero + uppercase letter 'O')

##### Base 16 - Hexadecimal
0x (zero + lowercase letter 'x')
0X (zero + uppercase letter 'X')

In [7]:
print(0B10)

2

In [9]:
print(0O10)

8

In [11]:
print(0x21)

33

#### We use type() to find the datatype of a variable

In [12]:
type(three)

int

In [13]:
type(0x21)

int

### Examples

## Strings

Strings are sequences of character data. The string type in Python is called str.

String literals may be delimited using either single or double quotes. All the characters between the opening delimiter and matching closing delimiter are part of the string

Strings are words

In [42]:
Toonie = ("toonie is a backend python mentor in zuri")

In [19]:
print(Toonie)

toonie is a backend python mentor in zuri

### String Operations

In [ ]:
()

##### capitalize()	Converts the first character to upper case

In [20]:
Toonie.capitalize()

'Toonie is a backend python mentor in zuri'

##### casefold()	Converts string into lower case

In [21]:
Toonie.casefold()

'toonie is a backend python mentor in zuri'

##### count()	Returns the number of times a specified value occurs in a string

In [22]:
Toonie.count('o')

4

In [23]:
Toonie.count('b')

1

In [24]:
Toonie.count('a')

2

##### endswith()	Returns true if the string ends with the specified value

In [25]:
Toonie.endswith('a')

False

In [26]:
Toonie.endswith('i')

True

##### find()	Searches the string for a specified value and returns the position of where it was found

In [30]:
Toonie.find('o')

1

##### isalpha()	Returns True if all characters in the string are in the alphabet

In [31]:
Zuri = ("Python")

In [32]:
Zuri.isalpha()

True

In [33]:
Toonie.isalpha()

False

##### isalnum()	Returns True if all characters in the string are alphanumeric

In [34]:
Four = ('4')

In [35]:
Four.isalnum()

True

##### isalpha()	Returns True if all characters in the string are in the alphabet
##### isdecimal()	Returns True if all characters in the string are decimals
##### isdigit()	Returns True if all characters in the string are digits

In [38]:
Digit = ('24')

In [40]:
Digit.isdigit()

True

##### replace()	Returns a string where a specified value is replaced with a specified value

In [41]:
Toonie.replace('o', 'u')

'tuunie is a backend pythun mentur in zuri'

##### upper()	Converts a string into upper case
##### lower()	Converts a string into lower case

In [43]:
Toonie.upper()

'TOONIE IS A BACKEND PYTHON MENTOR IN ZURI'

In [44]:
Toonie.lower()

'toonie is a backend python mentor in zuri'

#### split()	Splits the string at the specified separator, and returns a list

In [45]:
Toonie.split()

['toonie', 'is', 'a', 'backend', 'python', 'mentor', 'in', 'zuri']

In [47]:
Zuri = 'Python'
print(Zuri)

Python

In [49]:
Zuri = ('Python')
print(Zuri)

Python

# Lists

#### In Python programming, a list is created by placing all the items (elements) inside square brackets [] , separated by commas. It can have any number of items and they may be of different types (integer, float, string etc.). A list can also have another list as an item. This is called a nested list.

In [95]:
Zuri_Mentors = ['Xylus', 'Motun', 'Prometheus', 'Bigdaddy', 'TomisinLalude', 'Toonie', 'Abbie', ['john', 'james']]

In [92]:
print(Zuri_Mentors)

['Xylus', 'Motun', 'Prometheus', 'Bigdaddy', 'TomisinLalude', 'Toonie', 'Abbie', ['john', 'james']]

##### append()	Adds an element at the end of the list
##### clear()	Removes all the elements from the list
##### copy()	Returns a copy of the list
##### count()	Returns the number of elements with the specified value
##### extend()	Add the elements of a list (or any iterable), to the end of the current list
##### index()	Returns the index of the first element with the specified value
##### insert()	Adds an element at the specified position
##### pop()	Removes the element at the specified position
##### remove()	Removes the first item with the specified value
##### reverse()	Reverses the order of the list
##### sort()	Sorts the list

In [54]:
Zuri_Mentors.append('jovialcore')
print(Zuri_Mentors)

['Xylus', 'Motun', 'Prometheus', 'Bigdaddy', 'TomisinLalude', 'Toonie', 'Abbie', ['john', 'james'], 'jovialcore']

In [61]:
Zuri_Mentors.append('4')
print(Zuri_Mentors)

['Xylus', 'Motun', 'Prometheus', 'Bigdaddy', 'TomisinLalude', 'Toonie', 'Abbie', ['john', 'james'], '4', '4']

In [93]:
Zuri_Mentors.clear()
print(Zuri_Mentors)

[]

In [59]:
Zuri_Mentors.copy()

['Xylus',
 'Motun',
 'Prometheus',
 'Bigdaddy',
 'TomisinLalude',
 'Toonie',
 'Abbie',
 ['john', 'james']]

In [96]:
Zuri_Mentors.count('Xylus')

1

In [63]:
Zuri_Mentors.count('4')

2

In [65]:
Zuri_Mentors.index('Bigdaddy')

3

In [66]:
Zuri_Mentors.insert(0, 'Femi')
print(Zuri_Mentors)

['Femi', 'Xylus', 'Motun', 'Prometheus', 'Bigdaddy', 'TomisinLalude', 'Toonie', 'Abbie', ['john', 'james'], '4', '4']

In [67]:
Zuri_Mentors.index('4')

9

In [68]:
Zuri_Mentors.pop(9)

'4'

In [69]:
print(Zuri_Mentors)

['Femi', 'Xylus', 'Motun', 'Prometheus', 'Bigdaddy', 'TomisinLalude', 'Toonie', 'Abbie', ['john', 'james'], '4']

In [70]:
Zuri_Mentors.reverse()
print(Zuri_Mentors)

['4', ['john', 'james'], 'Abbie', 'Toonie', 'TomisinLalude', 'Bigdaddy', 'Prometheus', 'Motun', 'Xylus', 'Femi']

In [76]:
Zuri_Mentors2 = ['Xylus', 'Motun', 'Prometheus', 'Bigdaddy', 'TomisinLalude', 'Toonie', 'Abbie', '3', '10']

In [77]:
Zuri_Mentors2.sort()

In [78]:
print(Zuri_Mentors2)

['10', '3', 'Abbie', 'Bigdaddy', 'Motun', 'Prometheus', 'TomisinLalude', 'Toonie', 'Xylus']

# Tuples

### Tuple. Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable. A tuple is similar to a list but immutable

#### Tuples are written with round brackets. ()

In [79]:
Zuri_Interns = ('Ola', 'Dele', 'Ebuka')

In [80]:
print(Zuri_Interns)

('Ola', 'Dele', 'Ebuka')

#### To find length of string, list, or tuple, we use len

In [81]:
print(len(Toonie))

41

In [82]:
print(len(Zuri_Mentors))

10

In [83]:
print(len(Zuri_Interns))

3

### Difference between Tuple and List

In [84]:
Currency = ['Naira', 'Cedis', 'Dollars']

In [85]:
Currency[0] = 'Pounds'

In [86]:
print(Currency)

['Pounds', 'Cedis', 'Dollars']

In [87]:
Currency2 = ('Naira', 'Cedis', 'Dollars')

In [88]:
Currency2[2] = 'Euros'

TypeError: 'tuple' object does not support item assignment

### Note: String is not Tuple

In [89]:
light = ('Bulb')
print(light)

Bulb

 # python.org

Zuri internship

# Zuri Internship

#### Zuri Internship